{
  "extends": ["eslint:recommended"],
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "no-inner-declarations" : "off",
		"no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
